 .u-section-1 {
  background-image: url("images/chakra.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-style: normal;
  font-family: Roboto, sans-serif;
  margin: 166px -24px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px -56px 0 588px;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  margin: 33px -74px 0 570px;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  margin: 20px -74px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 180px;
  }

  .u-section-1 .u-text-2 {
    width: 508px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: 544px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: 544px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 407px;
    margin-top: 89px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 407px;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: 407px;
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    width: 407px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 97px;
    margin-right: 71px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 58px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 58px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 76px;
    margin-left: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 46px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-image: url("images/6ae40b17c01bf102aca03dce775c85d6.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 728px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 164px -100px 0 540px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 17px -100px 0 540px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px 65px 60px auto;
  padding: 28px 77px 28px 76px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 700px;
    margin-top: 148px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 700px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 77px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 29px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 31px;
    padding: 15px 41px 16px 39px;
  }
} .u-section-3 {
  background-image: url("images/45e03590875837.5e23469f81fff.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 865px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 137px -125px 0 489px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 43px -87px 0 527px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 43px 72px 60px auto;
  padding: 28px 77px 28px 76px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 132px;
    margin-left: 82px;
    margin-right: 82px;
  }

  .u-section-3 .u-text-2 {
    width: 700px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 27px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 566px;
    margin-top: -158px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 77px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 50px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 50px;
    margin-bottom: 0;
    padding: 14px 35px 16px 34px;
  }
}@media (max-device-width: 600px) {
  .mobile-text {
    text-align: center !important;
	right: 0;
  }
}
.bg 
{
	filter: brightness(20%);
}
.grad {
	font-size: 72px;
  background: -webkit-linear-gradient(to bottom right, #5e5e5e, #f2f2f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}