 .u-section-1 {
  background-image: url("images/cropped.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 624px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-family: Roboto, sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 116px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  width: 644px;
  margin: 41px auto 0;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  width: 644px;
  margin: 25px auto 0;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  margin: 39px 0 0;
}

.u-section-1 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  margin-top: 25px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 126px;
  }

  .u-section-1 .u-text-2 {
    width: 544px;
    margin-top: 31px;
  }

  .u-section-1 .u-text-3 {
    width: 544px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1 .u-text-1 {
    width: 407px;
    margin-top: 62px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: 490px;
    margin-top: 27px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 14px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-top: 25px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 97px;
    margin-right: 71px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 25px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 27px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 102px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 1.5rem;
    margin-top: -222px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    font-size: 1.5rem;
    margin: 220px 0 55px;
  }
} .u-section-2 {
  background-image: url("images/76132a82e85800b9751bd83c03264e7d8b28d9a16de6babaa5ee98bd41da550806cf59a1a479b2a936dbf49303f172a2b1c28c4d6abd094fed4f58_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 636px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 700px;
  margin: 148px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 700px;
  margin: 46px auto 0;
}

.u-section-2 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
  font-weight: normal;
  margin: 46px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 94px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 44px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 75px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 91px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 38px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 53px;
  }
} .u-section-3 {
  background-image: url("images/4f3d64d546fab4276a6cde8a902b3615d3c14da25f5b2a7369d15a6a7a6eef44f39a55c0d46b0aa3883d97f1d12d036a12edb12355d615bd3e38b7_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1859px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 776px;
  margin: 207px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 700px;
  margin: 27px auto 0;
}

.u-section-3 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
  margin: 27px 0 0;
}

.u-section-3 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
  margin: 27px 0 0;
}

.u-section-3 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 4.5rem;
  width: 280px;
  margin: 27px auto 0;
}

.u-section-3 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
  width: 280px;
  margin: 27px auto 0;
}

.u-section-3 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 4.5rem;
  width: 389px;
  margin: 27px auto 0;
}

.u-section-3 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
  width: 637px;
  margin: 27px auto 0;
}

.u-section-3 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
  width: 637px;
  margin: 120px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 27px auto 60px;
  padding: 28px 77px 28px 76px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1615px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 132px;
    margin-left: 82px;
    margin-right: 82px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 26px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 26px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 26px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 26px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 190px;
    margin-right: 141px;
    margin-left: 162px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1787px;
  }

  .u-section-3 .u-text-1 {
    width: 566px;
    margin-top: 138px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 328px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -456px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 13px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 176px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 156px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 15px;
    margin-left: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1515px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 39px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 48px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 39px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: -9px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 76px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1676px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 20px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 18px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 1px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
    margin-top: 24px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.875rem;
    margin-top: 75px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 14px 35px 16px 34px;
  }
}