.u-section-1 .u-sheet-1 {
  min-height: 597px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  background-image: none;
  font-family: Roboto, sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  margin: 166px -24px 0 auto;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  width: 644px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  width: 644px;
  margin: 25px auto 0;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  margin: 15px 0 0;
}

.u-section-1 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  margin-top: 25px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 180px;
  }

  .u-section-1 .u-text-2 {
    width: 544px;
  }

  .u-section-1 .u-text-3 {
    width: 544px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 407px;
    margin-top: 89px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 407px;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: 407px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 97px;
    margin-right: 71px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 58px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 76px;
    margin-left: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 19px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 1.5rem;
    margin-top: -222px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    font-size: 1.5rem;
    margin: 220px 0 55px;
  }
} .u-section-2 {
  background-image: url("images/6ae40b17c01bf102aca03dce775c85d6.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 612px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 164px -100px 0 540px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 17px -100px 0 540px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px 65px 60px auto;
  padding: 28px 77px 28px 76px;
}

.u-section-2 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 4.5rem;
  font-weight: normal;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 700px;
    margin-top: 148px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 700px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 77px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 155px;
    margin-bottom: 0;
    padding: 15px 41px 16px 39px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin: -190px 0 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 796px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 137px -125px 0 489px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 43px -87px 0 527px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 43px 72px 60px auto;
  padding: 28px 77px 28px 76px;
}

.u-section-3 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 4.5rem;
}

.u-section-3 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 4.5rem;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 132px;
    margin-left: 82px;
    margin-right: 82px;
  }

  .u-section-3 .u-text-2 {
    width: 700px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 27px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 566px;
    margin-top: -158px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 56px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 718px;
    margin-bottom: 0;
    padding: 14px 35px 16px 34px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin: -762px 0 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin: 37px 0 60px;
  }
}